@use "../../../utils/cards";
@use "../../../utils/variables";

.carousel {
  &-image {
    &-main {
      @include cards.shadow-interactive;
      border-radius: 3px;
      display: block;
      max-height: calc(80vw - 80px);
      min-height: 180px;
      max-width: 100%;

      &-placeholder {
        @include cards.shadow-interactive;
        border-radius: 3px;
        display: block;
        max-height: calc(80vw - 80px);
        max-width: 100%;
        min-height: 180px;
        min-width: 300px;
      }

      &-container {
        align-items: center;
        display: flex;
        justify-content: center;
        height: calc(80vw - 80px);
        max-height: 480px;
        width: 100%;
      }
    }

    &-solo {
      @include cards.shadow-interactive;
      display: block;
      margin: auto;
      max-width: 100%;
      max-height: 900px;
    }
  }

  &-lane {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

    &-image {
      @include cards.shadow-interactive-mini;
      border: 2px solid variables.$white;
      border-radius: 3px;
      height: 60px;
      margin: auto;
      margin: 10px;
      object-fit: cover;
      width: 60px;

      &-mini {
        border: 2px solid variables.$white;
        border-radius: 3px;
        height: 40px;
        margin: auto;
        margin: 10px;
        object-fit: cover;
        width: 40px;

        &-selected {
          border: 4px solid variables.$green;
          border-radius: 3px;
          height: 40px;
          margin: auto;
          margin: 10px;
          object-fit: cover;
          width: 40px;
        }
      }

      &-selected {
        border: 4px solid variables.$green;
        border-radius: 3px;
        height: 60px;
        margin: auto;
        margin: 10px;
        object-fit: cover;
        width: 60px;
      }
    }
  }

  @media only screen and (min-width: variables.$responsive-width) {
    &-image-main {
      max-height: 480px;
    }
  }
}
