@use "../utils/cards";
@use "../utils/variables";

.button-link {
  @include cards.shadow-interactive;
  background-color: variables.$black;
  border: 0;
  border-radius: 4px;
  color: variables.$white;
  padding: 4px 8px 2px;

  &:focus {
    color: variables.$yellow;
  }
}
