@use "../utils/variables";

body {
  background: variables.$hecka-light-gray;
  color: variables.$black;
  font-family: "Brass Mono", monospace;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  color: variables.$blue;
  text-decoration: none;

  &:hover {
    color: variables.$green;
  }
}

button {
  font-family:
    "Brass Mono", monospace; // some user-agent stylesheets mess up buttons
}

img {
  border-radius: 4px;
}

ul {
  margin: 40px;
}

li {
  margin: 20px;
}

p {
  margin: 40px;
}
