@use "../../utils/cards";
@use "../../utils/variables";

.filter-dropdown {
  margin-bottom: 20px;

  &-container {
    display: flex;
  }

  &-count {
    display: inline;
    padding: 4px;

    &-desktop {
      display: none;
    }
  }

  &-options {
    display: flex;
    flex-direction: column;
    padding: 10px;

    &-item {
      @include cards.shadow-interactive-mini;
    }
  }

  @media only screen and (min-width: variables.$responsive-width) {
    &-count {
      display: none;

      &-desktop {
        display: inline;
        padding: 4px;
      }
    }
  }
}
