@use "../../utils/cards";
@use "../../utils/variables";

.filter-dropdown {
  margin-bottom: 20px;

  &-container {
    display: flex;
  }

  &-prefix {
    padding: 4px;
  }

  &-options {
    display: flex;
    flex-direction: column;
    padding: 10px;

    &-item {
      @include cards.shadow-interactive-mini;
    }
  }
}
