@use "../../utils/cards";
@use "../../utils/variables";
@use "image/all";

.portfolio {
  &-detail {
    &-media {
      margin-bottom: 20px;

      &-img {
        display: block;
        margin: auto;
        max-width: 100%;
        max-height: 900px;
      }

      &-vid {
        &-4-3 {
          border: none;
          max-width: 700px;
          width: 100%;
          aspect-ratio: 4/3;
        }

        &-16-9 {
          border: none;
          max-width: 700px;
          width: 100%;
          aspect-ratio: 16/9;
        }
      }
    }
  }

  &-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 500px;
    padding: 0 10px;

    &::after {
      clear: both;
      content: "";
      display: table;
    }
  }

  &-item {
    @include cards.shadow-interactive;
    float: left;
    margin: 0 10px 20px;
    width: 320px;
    margin-bottom: 25px;

    &-icon {
      @include cards.card-top;

      &-image {
        @include cards.card-top;
        display: block;
        margin: auto;
        width: 100%;
        min-height: 100px;
      }
    }

    &-content {
      @include cards.card-bottom;
    }

    &-title {
      cursor: pointer;
      text-align: center;
    }
  }
}
