@use "../../utils/cards";
@use "../../utils/variables";
@use "image/all";

.portfolio {
  &-detail {
    &-media {
      margin-bottom: 20px;

      &-carousel {
        display: block;
        margin: auto;
        max-width: 100%;
        max-height: 900px;
      }

      &-vid {
        &-4-3 {
          border: none;
          max-width: 700px;
          width: 100%;
          aspect-ratio: 4/3;
        }

        &-16-9 {
          border: none;
          max-width: 700px;
          width: 100%;
          aspect-ratio: 16/9;
        }
      }
    }

    &-property {
      color: variables.$mid-gray;
    }
  }

  &-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0;

    &::after {
      clear: both;
      content: "";
      display: table;
    }
  }

  &-item {
    @include cards.shadow-interactive;
    float: left;
    margin: 0 0 25px;
    width: 330px;

    &-icon {
      @include cards.card-top;

      &-image {
        @include cards.card-top;
        display: block;
        margin: auto;
        width: 100%;
        min-height: 100px;

        &-placeholder {
          @include cards.card-top;
          background-color: variables.$black;
          display: block;
          margin: auto;
          width: 100%;
          min-height: 100px;
          min-width: 300px;
        }
      }
    }

    &-content {
      @include cards.card-bottom;
    }

    &-title {
      cursor: pointer;
      text-align: center;
    }
  }

  @media only screen and (max-width: 1000px) {
    // collapse into single column before major responsive layout change
    &-list {
      align-items: center;
      margin: 0 auto;
      max-width: 500px;
    }

    &-item {
      margin: 0 0 25px;
      max-width: variables.$max-responsive-content-width;
      width: 100%;
    }
  }
}
