@use "../../utils/cards";
@use "../../utils/variables";
@use "image/all";

.portfolio {
  &-detail {
    &-media {
      margin-bottom: 20px;

      &-carousel {
        display: block;
        margin: auto;
        max-width: 100%;
        max-height: 900px;
      }

      &-vid {
        &-4-3 {
          border: none;
          max-width: 700px;
          width: 100%;
          aspect-ratio: 4/3;
        }

        &-16-9 {
          border: none;
          max-width: 700px;
          width: 100%;
          aspect-ratio: 16/9;
        }
      }
    }

    &-property {
      color: variables.$mid-gray;
    }
  }

  &-list {
    &::after {
      clear: both;
      content: "";
      display: table;
    }
  }

  &-column {
    display: none;

    &-desktop {
      float: left;
      margin: 0;
      max-width: 340px;
      padding: 0;

      &::after {
        clear: both;
        content: "";
        display: table;
      }
    }
  }

  &-item {
    @include cards.shadow-interactive;
    float: left;
    margin: 0 10px 20px;
    width: 320px;
    margin-bottom: 25px;

    &-icon {
      @include cards.card-top;

      &-image {
        @include cards.card-top;
        display: block;
        margin: auto;
        width: 100%;
        min-height: 100px;
      }
    }

    &-content {
      @include cards.card-bottom;
    }

    &-title {
      cursor: pointer;
      text-align: center;
    }
  }

  @media only screen and (max-width: 1000px) {
    // collapse into single column before major responsive layout change
    &-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-column {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: 500px;
      padding: 0 10px;

      &-desktop {
        display: none;
      }
    }

    &-item {
      margin-bottom: 25px;
      max-width: variables.$max-responsive-content-width;
      width: 100%;
    }
  }
}
