@use "variables";

@mixin shadow {
  box-shadow: 0 1px 2px variables.$shadow-color;
  transition:
    box-shadow 0.3s ease-in-out,
    transform 0.2s ease-in-out;
}

@mixin shadow-interactive {
  @include shadow;
  cursor: pointer;

  &:hover {
    box-shadow: 0 6px 6px variables.$shadow-color;
    transform: scale(1.01);
  }

  &:focus {
    box-shadow: 0 6px 6px variables.$shadow-color;
    transform: scale(1.01);
  }

  &:active {
    box-shadow: 0 1px 2px variables.$shadow-color;
    transform: scale(1.005);
  }
}

@mixin shadow-interactive-mini {
  @include shadow;
  cursor: pointer;

  &:hover {
    box-shadow: 0 6px 6px variables.$shadow-color;
    transform: scale(1.05);
  }

  &:focus {
    box-shadow: 0 6px 6px variables.$shadow-color;
    transform: scale(1.05);
  }

  &:active {
    box-shadow: 0 1px 2px variables.$shadow-color;
    transform: scale(1.025);
  }
}

@mixin card {
  @include shadow;
  background: variables.$white;
  border-radius: 3px;
  padding: 20px;
}

@mixin card-top {
  background: variables.$white;
  border-radius: 3px 3px 0 0;
  margin-bottom: 0;
}

@mixin card-bottom {
  background: variables.$white;
  border-radius: 0 0 3px 3px;
  color: variables.$black;
  margin-top: 0;
  padding: 6px;
}
