$responsive-width: 900px;
$left-column-width: 240px;
$max-responsive-content-width: 625px;

$black: #1a1a1a;
$mid-gray: #999fac;
$hecka-light-gray: #f6f6f6;
$white: #fff;
$yellow: #e9c76c;
$blue: #4788b7;
$green: #4c9c7b;
$shadow-color: rgba(0, 0, 0, 0.08);
