@font-face {
  font-family: "Brass Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/BrassMono/BrassMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Brass Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/BrassMono/BrassMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Brass Mono";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/BrassMono/BrassMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Brass Mono";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/BrassMono/BrassMono-BoldItalic.ttf") format("truetype");
}
